.vagrant/
logs/nginx/access.log
logs/nginx/error.log
logs/opcache.log
vhosts/gearmanui/logs/error.log
vhosts/opcache-dashboard/logs/access.log
*.log
.DS_Store
vhosts/beanstalk_console/
vhosts/opcache-dashboard/
sandbox/_ide_helper.php
.idea/*
